.container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  width: 395px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.row:last-child {
  border-bottom: none;
}

.colorBox {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 12px;
  border-radius: 2px;
  background: #888;
}

.label {
  flex: 1;
  font-size: 14px;
}

.value {
  min-width: 60px;
  text-align: right;
  font-size: 14px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: #fff;
  background-color: #523B7E99;
  border-radius: 8px;
  height: 56px;
  align-items: center;
}

.headerLabel {
  flex: 1;
  padding-left: 24px;
}

.headerValue {
  width: 80px;
}

.summary {
  margin-top: 16px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
}

.expenses {
  color: #FD9498;
}

.income {
  color: #FED057;
}
