/*mobile*/
@media screen and (max-width: 767.98px) {
    .editModalForm {
        margin: 0 auto;
        width: 100%;
        width: 320px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: linear-gradient(to bottom, #4a2b99, #2a1357);
    }

    .toggleEditContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .toggleEditLabel {
        font-size: 16px;
        font-weight: 600;
        transition: color 0.4s;
    }

    .activeIncome {
        color: #FFB627;
        font-weight: 600;
    }

    .activeExpense {
        color: #FF868D;
        font-weight: 600;
    }

    .inactive {
        color: rgba(255, 255, 255, 0.5);
        font-weight: 600;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 40px;
        cursor: pointer;
    }

    .checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .income {
        box-shadow: 0 2px 10px rgba(235, 172, 68, 0.8);
        background-color: #FFB627;
    }

    .expense {
        transform: translateX(40px);
        box-shadow: 0 2px 10px rgba(255, 134, 141, 0.8);
        background-color: #FF868D;
    }

    .symbol {
        font-weight: bold;
        color: white;
        height: 20px;
        cursor: pointer;
    }

    .selectCategory {
        background: transparent;
        color: rgba(255, 255, 255, 0.6);
        width: 100%;
        padding: 10px 0;
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .option {
        background-color: #4a2b99;
        color: white;
        cursor: pointer;
        gap: 10px;

    }

    .optionDisabled {
        background-color: #4a2b99;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }

    .inputEditRow {
        display: flex;
        width: 100%;
        gap: 0;
    }

    .inputWrapper {
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        padding-bottom: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .inputEditComment {
        width: 100%;
        background: transparent;
        padding: 10px 0;
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 18px;
        color: white;
        text-align: center;
        outline: none;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .inputEditNumber {
        color: white;

    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 18px;
        padding-top: 50px;
    }

    .addBtn {
        background: linear-gradient(to right, #FFC727, #9E40BA, #7000FF);
        color: white;
        letter-spacing: 10%;
        align-items: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        border-radius: 20px;
        width: 280px;
        height: 50px;
        cursor: pointer;
        border: none;
    }

    .cancelBtn {
        background-color: white;
        color: #623F8B;
        letter-spacing: 10%;
        align-items: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        border-radius: 20px;
        width: 280px;
        height: 50px;
        cursor: pointer;
        border: none;
    }

    .modalTitle {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: rgba(251, 251, 251, 1);
        font-weight: 400;
        margin-bottom: 10px;
    }

    .modalCloseButton {
        display: none;
    }
}

/*tablet ve desktop*/
@media screen and (min-width: 768px) {
    .editModalForm {
        width: 540px;
        height: 520px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-left: 114px;
        margin-right: 114px;
        background: linear-gradient(to bottom, #4a2b99, #2a1357);
    }

    .toggleEditContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: -20px;
    }

    .toggleEditLabel {
        font-size: 16px;
        font-weight: 600;
        transition: color 0.4s;
        margin-top: -120px;
    }

    .activeIncome {
        color: #FFB627;
        font-weight: 600;
        font-size: 16px;
    }

    .activeExpense {
        color: #FF868D;
        font-weight: 600;
        font-size: 16px;
    }

    .inactive {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 600;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 40px;
        cursor: pointer;
    }

    .checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .income {
        box-shadow: 0 2px 10px rgba(235, 172, 68, 0.8);
        background-color: #FFB627;
    }

    .expense {
        transform: translateX(40px);
        box-shadow: 0 2px 10px rgba(255, 134, 141, 0.8);
        background-color: #FF868D;
    }

    .labelSymbol {
        color: white;
        height: 20px;
        margin-top: -120px;
    }

    .selectCategory {
        background: transparent;
        color: white;
        font-weight: 400;
        width: 100%;
        font-size: 18px;
        outline: none;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        align-items: center;
        justify-content: center;
        display: block;
    }

    .selectCategoryInput {
        width: 100%;
        margin-bottom: 20px;
    }

    .inputBlocks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .option {
        background-color: #4a2b99;
        color: white;
        cursor: pointer;
    }

    .optionDisabled {
        background-color: #4a2b99;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }

    .inputEditRow {
        display: flex;
        width: 100%;
        gap: 0px;
        padding-top: 15px;
    }

    .inputWrapper {
        flex: 1;
        font-weight: 600;
        font-size: 18px;
    }

    .inputEditNumber {
        font-weight: 600;
        font-size: 18px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        color: white;
        text-align: center;
    }

    .inputEditComment {
        width: 100%;
        background: transparent;
        padding: 10px 0;
        padding-bottom: 20px;
        padding-top: 40px;
        font-size: 18px;
        color: white;
        outline: none;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 30px;
        align-items: center;
    }

    .modalSaveButton {
        background: linear-gradient(to right, #FFC727, #9E40BA, #7000FF);
        color: white;
        letter-spacing: 10%;
        align-items: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        border-radius: 20px;
        width: 280px;
        height: 50px;
        cursor: pointer;
        border: none;
    }

    .modalCancelButton {
        background-color: white;
        color: #623F8B;
        letter-spacing: 10%;
        align-items: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        border-radius: 20px;
        width: 280px;
        height: 50px;
        cursor: pointer;
        border: none;
    }

    .modalTitle {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: rgba(251, 251, 251, 1);
        font-weight: 400;
        margin-bottom: 80px;
    }

    .modalCloseButton {
        cursor: pointer;
        border: none;
        background: transparent;
        font-size: 24px;
        color: rgba(251, 251, 251, 1);
        position: fixed;
        right: 160px;
        top: 40px;
    }
}

/*desktop*/
/*@media screen and (min-width: 1280px) {}*/