.tabContainer { 
  margin-left: 30%;
  width: 70%;
  position: absolute;
  top: 84px;
  max-width: 1280px;
  height: 907px;
  padding: 40px;
  background: linear-gradient(360deg, rgb(167 26 249 / 64%) 0%, rgb(80 48 154 / 57%) 43.14%, rgb(106 70 165 / 53%) 73.27%, #2a1357 105.03%);
  display: flex;
  gap: 30px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.tabContainer > section {
  flex: 1;
}

.tabContainer section h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
