.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #bdbdbd;
}
.form input:focus {
  outline: none;
  background-color: transparent;
}

.form input::placeholder {
  color: #bdbdbd;
}

.form input:focus::placeholder {
  color: #bdbdbd;
  opacity: 0.5;
}

.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #bdbdbd;
  transition: background-color 9999s ease-in-out 0s;
}

.login,
.register {
  width: 280px;
  height: 50px;
  margin-block: 10px;
  border-radius: 20px;
  box-shadow: 1px 9px 15px 0px #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  transition: transform 0.2s ease;
}

.register {
  color: #fcfcfc;
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  text-transform: uppercase;
  margin-top: 50px;
}

.login {
  background: #fcfcfc;
  color: #623f8b;
}

.login:hover,
.register:hover {
  transform: scale(1.1);
}

.mailSection,
.passwordSection,
.usernameSection,
.confirmPasswordSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-block: 10px;
  border-bottom: 1px solid #ffffff66;
}

.error {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .login,
  .register {
    width: 300px;
  }
  .form input {
    width: 350px;
  }
}
