.registrationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.registrationPage svg {
  width: 128px;
  height: 54px;
  top: 97px;
  left: 96px;
  margin-block: 48px;
}
