.container{
    margin-top: 28px;
    padding-left: 56px;
    padding-top: 8px;
    padding-bottom: 11px;
    background-color: #523B7E60;
    width: 480px;
}

.title{
    font-family: poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #ffffff40;
}
.content{
    font-family: poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #fcfcfc;
    margin-top: 12px;

}